<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AsyncImageDownlaoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A2AF7F91EBC43D4008E1245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2AF8121EBC43D5008E1245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2AF81D1EBC43D5008E1245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
